<nav style="margin: 0.8rem 0;">
	<div class="next-prev-link grid-row">
		<div class="prev-link col-xs-12 col-md-6">
			<%= @prev_link -%>
		</div>
		<div class="next-link col-xs-12 col-md-6 col-xs-end">
			<%= @next_link -%>
		</div>
	</div>
</nav>
<%-# vim: set ft=eruby : -%>
