@import '../vars';

aside.article-info {
	font-size: 0.7rem;

	.article-dates p {
		line-height: $vertical-unit;
		margin: initial;
	}
}

ul.blog-tags {
	>li {
		// U+1F3F7 LABEL
		$tag-prefix: "\1f3f7\20";

		display: inline-block;
		margin: 0;
		&::before {
			content: " / " $tag-prefix;
		}
		&:first-child::before {
			content: $tag-prefix;
		}
	}
}

ul.blog-tag-classes {
	ul.blog-tags {
		display: inline-block;
	}
}

.next-prev-link {
	display: flex;

	>.prev-link {
		width: 50%;
	}
	>.next-link {
		width: 50%;
		text-align: right;
	}
}
